@import "tailwindcss";

@font-face {
    font-family: 'Poppins';
    src: url('/fonts/Poppins-Black.ttf') format('truetype');
    font-weight: 900;
}

@font-face {
    font-family: 'Barlow';
    src: url('/fonts/Roboto_Condensed-Medium.ttf') format('truetype');
    font-weight: normal;
}

@theme {
    --font-poppins: "Poppins", sans-serif;
    --font-barlow: "Barlow", sans-serif;

    --color-latar: #f3f4f6;
    --color-teks: #374151;
    --color-teks-samping: #6b7280;
    --color-garis: #e5e7eb;
    --color-hijau: #00B074;
    --color-merah: #ef4444;
    --color-biru: #3b82f6;
    --color-kuning: #f59e0b;
}

body {
    @apply font-barlow bg-latar text-teks;
}

